DB_URL='jdbc:mysql://127.0.0.1:20008/college_survival?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC'
DB_USERNAME=college_app
DB_PASSWORD=replace_with_local_password
MYSQL_ROOT_PASSWORD=replace_with_another_local_password
GAME_LENGTH=10
INITIAL_HEALTH=100
INITIAL_STRESS=10
INITIAL_ATTENDANCE=80
INITIAL_MONEY=1000
INITIAL_KNOWLEDGE=40
INITIAL_SOCIAL=50
